fastapi
uvicorn
pytesseract
pdfplumber
pymupdf
pillow
openai
langchain
langchain-community
langchain-cohere
chromadb
sentence-transformers
python-dotenv
streamlit
python-multipart
PyPDF2
pydantic
pdf2image
qdrant-client
aiofiles
gradio>=4.0.0
faiss-cpu
cohere
